@charset "utf-8";
/*==============================
   bodスタイル指定
================================*/
body{
  margin:1em auto;
  background-color:#000000;
  font-family:"Trebuchet MS", sans-serif;
  width: 80%;
  max-width:1200px;
}

article, aside, nav, section,  footer, header, figure {
	display:block;
}

.grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr minmax(480px,3fr) minmax(180px,1fr);
  gap:1em;
}
/* ナゲーション部分のスタイル指定
-----------------------------------*/
nav{
  background-color: #786A47;
}
nav ul{
  color:#FFFFFF;
  margin:0.8em 20px;
  padding:0;
}
nav ul li{
  margin:0.2em 6px;
  font-size:80%;
}
nav ul li li{
  font-size:100%;
}

/* 見出しのスタイル
-------------------------*/
h1{
  color:#B8B99B;
}
h2{
  font-size:12px;
  margin:0 5px;
  padding:2px 2px 2px 5px;
  background-color:#EFEFEF;
}

/* 本文のスタイル
-------------------------*/
#contents{
  background-color:#FFFFFF;
  font-size:80%;
  padding:1em 0;
}
p{
  margin:1em 15px;
}


#subcolArea{
	background-color:#CCCC66;
}